.main-navigation__menu-btn {
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 2rem;
    cursor: pointer;
  }
  
  .main-navigation__menu-btn span {
    display: block;
    width: 3rem;
    height: 2.5px;
    background: white;
  }

.navbar{
    display: none;
}

header{
    height: 100px;
    background-color: #009ACD;
}

.drawer-nav {
    height: 100%;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    height: 100vh;
    width: 70%;
    background: black;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  }
  
@media (min-width: 768px) {
.main-navigation__menu-btn {
    display: none;
}

.navbar {
    display: block;
}

.drawer-nav{
    display: none;
}
}
